<!-- Top nav bar (fixed) -->
<nav>
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logo" src="http://images.clipartpanda.com/lighthouse-clipart-lighthouse7.png">
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="localhost:8080/restaurants">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login Customer</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login Owner</a></li>
      </ul>
    </div>
  </div>
</nav>