<!-- Top nav bar (fixed) -->
  <div class="mynav container-fluid">
    <div class="row">
      <div class="col-md-2">
         <a href="/"><button class="home btn btn-primary">Home</button></a>
      </div>
      <div class="col-md-8">
        <div class="text-center">
          <img class="logo" src="http://images.clipartpanda.com/lighthouse-clipart-lighthouse7.png">
        </div>
      </div>
      <div class="col-md-2">
        <% if(!userId) { %>
          <a href="/login/1"><button class="login1 btn btn-primary pull-right">Login Cust1</button></a>
          <a href="/login/2"><button class="login2 btn btn-primary pull-right">Login Cust2</button></a>
          <a href="/login/o/1"><button class="login1 btn btn-primary pull-right">Login Owner</button></a>
        <% } else { %>
          <form  method="post" action="/logout">
            <button class="logout btn btn-primary pull-right" type='submit'>Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </div>