<!-- Top nav bar (fixed) -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logo" src="http://images.clipartpanda.com/lighthouse-clipart-lighthouse7.png">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login customer<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Login owner</a></li>
      </ul>
    </div>
  </div>
</nav>