<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="refresh" content="60">

    <title>Lighthouse Cafe</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- font awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="styles/nav.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/confirmation.css">


  </head>
<body>
  <% myValue.forEach(function(element, index) { %>
    <%if (myValue[index].ready_time != null) { %>
      <div class="main container-fluid">
        <div class="top row">
          <div class="center col-md-12">
            <div class="boxbox">
              <h1>THANK YOU!</h1>
              <i class="fa fa-check-circle pending" aria-hidden="true"></i>
              <div></div>
              <span class= "order_ready">Your Order Will be ready in <%= myValue[index].ready_time %> mins</span>
            </div>
          </div>
        </div>
      </div>
      <% } else { %>
      <div class="main container-fluid">
        <div class="top row">
          <div class="center col-md-12">
            <div class="boxbox">
              <h1>THANK YOU!</h1>
              <span class= "order_ready">Your order has been placed </span>
              <div></div>
              <i class="fa fa-check-circle placed" aria-hidden="true"></i>
              <div></div>
              <span class= "order_ready">The food's ready time will be updated very soon</span>
            </div>
          </div>
        </div>
      </div>
     <% } %>
  <% }); %>

</body>
</html>
