<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Meta Information -->
    <title>Lighthouse Cafe</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../../styles/nav.css">
    <link rel="stylesheet" type="text/css" href="../../styles/index.css">

    <!-- ownerpage css -->
    <link rel="stylesheet" type="text/css" href="../../styles/ownerpage.css">

    <!-- Page script
    <script type="text/javascript" src="../../scripts/app.js"></script>
    -->

  </head>
  <body>
    <!-- Top nav bar (fixed) -->
  <!-- Top nav bar (fixed) -->
  <nav class="mynav navbar">
    <% include partials/_navbar %>
  </nav>

  <div class="main container-fluid">
    <div class="row">
      <div class="left col-md-2"></div>
      <div class="center col-md-8">

        <div class="currentOrders row">
          <div class="ordersList col-md-12">
            <div class="header row">
              <div class="col-md-12 custOrdersHeader">Current Orders</div>
            </div>

            <!--loop-->

            <div class="row custOrders">
              <div class="col-md-12">
                <div class= "row orderInfo">
                  <div class= "col-md-3 orderId">
                    <% order.orderId %>
                  </div>
                  <div class= "col-md-6 custName">
                    <% users.name %>
                  </div>
                  <div class= "col-md-3 phoneNumber">
                    <% users.phone_number %>
                  </div>
                </div>
                <div class= "row foodItem">
                  <div class= "col-md-10 itemName">
                    <% items.name %>
                  </div>
                  <div class= "col-md-2 quantity">
                    <% items.quantity %>
                  </div>
                </div>
                <div class= "row responseToOrder">
                  <div class= "text-center col-md-6">
                    Please inform customer of order pick up time
                  </div>
                  <form>
                    <div class= "col-md-2">
                      <input type="text" class="form-control" id="deliveryTime" placeholder="minutes">
                    </div>
                    <div class= "col-md-4">
                      <a href="#" class="btn btn-primary btn-lg">submit</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- } -->

          </div>
        </div>
        <div class="queue row">
          <div class="queueList col-md-12">
            <div class="header row">
              <div class="col-md-12 custOrdersHeader">In Queue</div>
            </div>

            <!--loop-->

            <div class="row custOrders">
              <div class="col-md-12">
                <div class= "row orderInfo">
                  <div class= "col-md-3 orderId">
                    <% order.orderId %>
                  </div>
                  <div class= "col-md-6 custName">
                    <% users.name %>
                  </div>
                  <div class= "col-md-3 phoneNumber">
                    <% users.phone_number %>
                  </div>
                </div>
                <div class= "row foodItem">
                  <div class= "col-md-10 itemName">
                    <% items.name %>
                  </div>
                  <div class= "col-md-2 quantity">
                    <% items.quantity %>
                  </div>
                </div>
                <div class= "row clearQueue">
                  <div class= "text-center col-md-6">
                    Pending for pick up....
                  </div>
                  <a href="#" class="btn btn-primary btn-lg" value="true">Complete Order</a>
                </div>
              </div>
            </div>

            <!-- } -->


          </div>
        </div>
        <div class="row"></div>
      </div>
      <div class="right col-md-2"></div>
    </div>
    </div>
  </body>
</html>
