<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="refresh" content="30">
    <title>Lighthouse Cafe</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../../styles/nav.css">
    <link rel="stylesheet" type="text/css" href="../../styles/index.css">

    <!-- ownerpage css -->
    <link rel="stylesheet" type="text/css" href="../../styles/ownerpage.css">

  </head>
  <body>
    <!-- Top nav bar (fixed) -->
  <!-- Top nav bar (fixed) -->
  <nav class="mynav navbar">
    <% include partials/_navbar %>
  </nav>

  <div class="main container-fluid">
    <div class="row">
      <div class="left col-md-2"></div>
      <div class="center col-md-8">

        <div class="currentOrders row">
          <div class="ordersList col-md-12">
            <div class="header row">
              <div class="col-md-12 custOrdersHeader">
                Current Orders
              </div>
            </div>
              <% include partials/current_orders %>
          </div>
        </div>
        <div class="queue row">
          <div class="queueList col-md-12">
            <div class="header row">
              <div class="col-md-12 custOrdersHeader">In Queue</div>
            </div>
              <% include partials/_queue %>
          </div>
        </div>
        <div class="row"></div>
      </div>
      <div class="right col-md-2"></div>
    </div>
    </div>
  </body>
</html>
