<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Meta Information -->
    <title>Lighthouse Cafe</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- nav css -->
    <link rel="stylesheet" type="text/css" href="styles/nav.css">

  </head>
<body>
  <!-- Top nav bar (fixed) -->
  <header>
    <% include partials/_navbar.ejs %>
  </header>
  <div class="jumbotron text-center">
    <h1>Lighthouse Pickup</h1>
    <p>Order and get a pickup time from a restaurant!.</p>
  </div>
  <div class="container-fluid">
    <div class="restaurant-select row">
      <div class="left col-md-4">
      </div>
      <div class="center col-md-4">
        <button class="center-block">Choose this Restaurant</button>
      </div>
      <div class="right col-md-4">
      </div>
    </div>
  </div>
</body>
</html>
