<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Meta Information -->
    <title>Lighthouse Cafe</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="styles/nav.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/menuOrders.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Page script -->
    <script src="scripts/menuOrders.js"></script>

  </head>
<body>
  <!-- Top nav bar (fixed) -->
  <nav class="mynav navbar">
    <% include partials/_navbar %>
  </nav>
  <div class="main container-fluid">
    <div class="row">
      <div class="left col-md-2"></div>
      <div class="center col-md-8"></div>
      <div class="right col-md-2"></div>
    </div>
  </div>
</body>
</html>
