h1 {
  color: white;
  font-size: 5em;
}

.boxbox {
  text-align: center;
}

.order_ready {
  color: #4286f4;
  font-size: 4em;
}

.pending {
  color: green;
  font-size: 15em;
}

.placed {
  color: green;
  font-size: 7em;
}


