input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: rgba(128, 0, 0, 1);
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70em;
  height: 35em;
  margin: auto;
}

.main {
  position: relative;
  padding-top: 7em;
}

#myCarousel {
  background-color: rgba(128, 0, 0, 1);
  padding-top: 10%;
}

.theColor {
  color: white
}

