.qty_input {
  height: 100% ;
  width: 100%;
}

.item .image {
  height: 100% ;
  width: 100%;
}

.order_items {
  background: lightgrey;
  height: 10em;
  position: fixed;
  top: 12em;
  width: 10em;
  z-index: 9999;
}