
.mynav .logo {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.mynav {
  background-color: white;
  border-top: solid 5px;
  border-bottom: solid 10px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;
}