
.mynav .logo {
  height: 150px;
  left: 50%;
  padding: 1em;
  position: absolute;
  transform: translateX(-50%);
  width: 150px;
}

.mynav {
  background: #ffd7d7;
  left: 0;
  min-height: 150px;
  overflow: auto;
  position: fixed;
  right: 0;
  z-index: 999;
}