.clearQueue {
  padding-top: 1em;
}

.custOrders {
  border-color: #f4a641;
  border-style: solid;
  border-radius: 5px;
  color: white;
  padding: 1em;
}

.custOrdersHeader {
  color: white;
  font-size: 3em;

}

.custQueue {
  border-color: #13723b;
  border-style: solid;
  border-radius: 5px;
  color: white;
  padding: 1em;
}

.foodItem {
  border-bottom: solid 1px;
  padding: 0.5em 0em;
}

.main {
  position: relative;
  padding-top: 12em;
}

.orderInfo {
  border-bottom: solid 1px;
  padding-bottom: 1em;
}

.responseToOrder {
  padding-top: 1em;
}


